name: Test Runner
on:
  push:
    branches:
      - main
jobs:
  test-runner:
    runs-on:
      - self-hosted
      - Linux
      - x64
    steps:
       - uses: actions/checkout@v3
       - name: Copy files to Nginx
         run: |
           sudo cp -r . /var/www/html/
           sudo chown -R www-data:www-data /var/www/html/
       - run: echo "Deployment successful on self-hosted Linux runner."
